:root {
  --black: #2c2c2c;
  --white: #f4ebd9;
  --border: #52504f;
  /* --blue: #058ed9; */
}

.memory-card {
  color: var(--white);
  height: 100vh;
}

/* Scoreboard */
.scoreboard {
  padding-top: 25px;
  width: fit-content;
  margin: auto;
}

.current-score {
  margin: 0;
  margin-bottom: 12.5px;
}

.high-score {
  width: fit-content;
  margin: auto;
}
/* Gameboard */
.gameboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  max-width: 1300px;
  margin: auto;
}

.gameboard.loading {
  margin-top: 25px;
}

.gameboard.error {
  margin-top: 25px;
}

.gameboard.complete {
  width: 90vw;
  max-width: 600px;
  margin: auto;
  margin-top: 25px;
  padding-bottom: 25px;
  border: 1px solid var(--border);
  border-radius: 15px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.gameboard.complete div {
  text-align: center;
}

.gameboard.complete img {
  max-height: 100%;
  max-width: 100%;
  margin-bottom: 15px;
  border-radius: 15px 15px 0 0;
}

.gameboard.complete h2 {
  font-size: 32px;
  width: fit-content;
  margin: auto;
}

.gameboard.complete p {
  font-size: 24px;
}

.gameboard.complete button {
  cursor: pointer;
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 8px;
  padding: 8px;
  font-size: 18px;
  background-color: transparent;
}

/* Card */
.card {
  user-select: none;
  cursor: pointer;
  display: inline-block;
  border: 1px solid var(--border);
  border-radius: 15px;
  padding: 15px 0;
  margin: 25px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.card img {
  padding: 15px;
  width: 175px;
  height: 175px;
}

.card figcaption {
  font-size: 20px;
  width: fit-content;
  margin: auto;
  text-transform: capitalize;
}

@media (max-width: 1284px) {
  .card img {
    width: 150px;
    height: 150px;
  }

  .card figcaption {
    font-size: 18px;
  }
}

@media (max-width: 1160px) {
  .card img {
    width: 135px;
    height: 135px;
  }
}

@media (max-width: 1084px) {
  .card img {
    width: 125px;
    height: 125px;
  }

  .card figcaption {
    font-size: 16px;
  }
}

@media (max-width: 1035px) {
  .card img {
    width: 110px;
    height: 110px;
  }

  .card figcaption {
    margin: 0;
    width: fit-content;
    margin: auto;
  }
}

@media (max-width: 960px) {
  .card {
    margin: 15px 12px 12px 12px;
  }

  .card figcaption {
    font-size: 16px;
  }
}

@media (max-width: 830px) {
  .card img {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 780px) {
  .card {
    margin: 15px 10px 10px 10px;
  }

  .card img {
    width: 90px;
    height: 90px;
  }

  .gameboard.complete h2 {
    font-size: 26px;
  }

  .gameboard.complete p {
    font-size: 20px;
  }

  .gameboard.complete button {
    font-size: 16px;
  }
}

@media (max-width: 710px) {
  .card {
    margin: 15px 5px 5px 5px;
  }

  .card img {
    width: 75px;
    height: 75px;
  }

  .card figcaption {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .card img {
    padding: 5px;
  }

  .card figcaption {
    font-size: 13px;
  }
}

@media (max-width: 400px) {
  .card img {
    width: 70px;
    height: 70px;
  }
}
@media (prefers-color-scheme: light) {
  .memory-card {
    color: var(--black);
  }

  .gameboard.complete button {
    color: var(--black);
    border: 1px solid var(--black);
  }
}
